@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.container {
    font-family: Bangers, cursive;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    padding: 0.5rem;
}

